html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

#index-page {
  background-color: #B40422
}

.logo {
  margin: 20px 0 0 40px;
  height: 50px;
  float: left;
}
.nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
  color: #ffffff;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a{
  clear: right;
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  line-height: 70px;
}

.row {
  margin: 70px 0 0 40px;
  /*display: none;*/
}

.row {
  margin: 10px 0 0 0;
}

#SoMe-f {
  height: 45.09px;
  width: 45px;
}

#SoMe-i {
  height: 45px;
  width: 45px;
}
#SoMe-t {
  height: 45px;
  width: 45px;
}

.column {
  float: right;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 500px)  {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;

  }
  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }

  .row {
padding-right: calc(100vw - 75vw)
  }
}

/*CONTACT PAGE*/

.buttons {
  background-color: #faca00;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Catamaran;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

#email-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#email-button a {
  text-decoration: none;
}
